# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

# Project ignores (converted from .cvsignore files)
/i18n/umtsmon_*.qm
/src/view/aboutdialog.ui
/src/view/.cvsignore
/test/NetworkOperatorWizardTester/NetworkOperatorWizardTester
/test/NetworkOperatorWizardTester/Makefile
/test/NetworkOperatorWizardTester/networkoperatorwizard.ui.h
/test/NetworkOperatorWizardTester/networkoperatorwizard.ui
/test/NetworkOperatorWizardTester/NetworkChanger.gcda
/test/NetworkOperatorWizardTester/*.gcno
/test/NetworkOperatorWizardTester/*.gcda
/test/MonthyTrafficTester/Makefile
/test/MonthyTrafficTester/MonthlyTrafficTester
/test/MonthyTrafficTester/*.gcov
/test/ProfileTester/ProfileTester
/test/ProfileTester/Makefile
/test/NetworkChangerTester/NetworkChangerTester
/test/NetworkChangerTester/Makefile
/test/NetworkChangerTester/*.gcno
/test/NetworkChangerTester/*.gcda
/test/SettingsTester/SettingsTester
/test/SettingsTester/Makefile
/test/SettingsTester/TheSettingsSingleton.cpp
/test/SettingsTester/TheSettingsSingleton.h
/test/HelperTester/Makefile
/test/HelperTester/HelperTester
/test/HelperTester/helperlistgui.ui.h
/test/HelperTester/helperlistgui.ui
/test/LCDDisplayTester/.ui
/test/LCDDisplayTester/LCDDisplay.cpp
/test/LCDDisplayTester/LCDDisplay.h
/test/LCDDisplayTester/LCDDisplayTester
/test/LCDDisplayTester/Makefile
/test/LCDDisplayTester/LCDSignal.png
/test/LCDDisplayTester/LCDBackground.png
/test/LCDDisplayTester/i18n
/test/LCDDisplayTester/.moc
/test/AutoDetectTester/AutoDetectTester
/test/AutoDetectTester/Makefile
/test/InfoDialogTester/infodialog.ui.h
/test/InfoDialogTester/infodialog.ui
/test/InfoDialogTester/InfoDialogTester
/test/InfoDialogTester/Makefile
/.settings
/.cdtproject
/.project
/.moc
/.ui
/umtsmon
/.cproject
